.App {
  text-align: center;
}

overhide-appsell {
  width: 60%;
}

.visa {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 50;
  opacity: 0;
  transition: opacity 1s ease-in 1s;
  pointer-events: none;
}

.visa.invisible {
  opacity: 0;
}

.visa.visible {
  opacity: 1;
}

.appsell-envelope {
  display: flex; 
  align-content: stretch;
}
